/* Page design by Khaled - 2026 */

h1, .paytable{
    margin-left: 1%;
    margin-right: 1%;
}

.paytable {
    width:max-content;
    border-collapse: collapse; /* Joins the lines together */
}

.paytable th, .paytable td {
    border: 1px solid black; /* Makes the lines visible */
    padding: 10px;           /* Adds space around the text */
    text-align: left;
}

.paytable th {
    background-color: lightgray; /* Gives the top row a light grey color */
}

#pay_button{
    margin-left: 1%;
}



#map{
    display:flex;
    justify-content: center;
    align-items: center;
}

#cordinations{
    display: flex;
    justify-content: right;
    align-items:center;
}

