/*
page d'animation par khaled
*/
p1{
        margin-top: 25%;
        
}

.pay_table{
        margin-top: 20%;
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;

}


.paylogo {
    width: 10px;
    height:10px;
    display:flex;
    float: left;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}